footer {
  padding: 20px 0;
  background-color: white;
  color: black;
  display: grid;
  place-items: center;
  height: 105px;
  border: 1px black solid;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: auto;
      transition: 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      a {
        color: black;
        svg {
          margin-right: 5px;
          font-size: 1.2rem;
          position: relative;
          top: 3px;
        }
      }
    }
  }
  p {
    margin-top: 15px;
    text-align: center;
  }
}

//-----------------------MEDIA QUERIES-------------------------------------

@media all {
  @media (max-width: 300px) {
    p,
    a {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 250px) {
    p,
    a {
      font-size: 0.7rem;
    }
  }
}
