form {
  background-color: white;
  color: black;
  padding: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: block;
  }
  input[type="button"] {
    margin: 15px 10px 0;
  }
}
table {
  background-color: white;
  color: black;
  width: 80%;
  margin-bottom: 100px;
  padding: 15px;
  thead {
    tr {
      td {
        border: 1px solid black;
        &:last-child,
        &:first-child {
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid black;
        &:last-child,
        &:first-child {
          text-align: center;
        }
        &:last-child {
          display: flex;
          justify-content: space-evenly;
        }
        svg {
          transition: 0.2s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
