@use "../components/mixin";

header {
  display: grid;
  position: fixed;
  max-width: 1500px;
  top: 0;
  grid-template: 1fr / 20% 80%;
  background-color: white;
  z-index: 2;
  width: 100%;
  outline: 1px solid black;
  .logo {
    display: grid;
    place-items: center;
    min-width: 80px;
    img {
      max-width: 80px;
    }
  }
  nav {
    &:first-of-type {
      li {
        &:not(:last-child) {
          width: 100%;
        }
        a {
          &:hover {
            background: black;
            color: white;
            text-decoration: underline;
            letter-spacing: 3px;
          }
        }
      }
    }
    ul {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      li {
        &:last-child {
          display: none;
        }
        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          transition: 0.2s;
          font-weight: bold;
          font-size: 1.3rem;

          svg {
            font-size: 40px;
          }
        }   
      }
    }
  }
}

@include mixin.hamburguer(none, 3rem);

.hamburguerOpen .hamburguerMenu {
  animation: open 0.2s linear forwards;
  @include mixin.hamburguer(block, 3rem);
}
.hamburguerClose .hamburguerMenu {
  animation: close 0.2s linear forwards;
  @include mixin.hamburguer(block, 3rem);
}
@keyframes open {
  from {
    transform: translateY(-110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110vh);
  }
}
@media all and (max-width: 1000px) {
  nav {
    a {
      padding: 0 40px;
    }
  }
}
@media all and (max-width: 830px) {
  nav {
    a {
      padding: 0 20px;
    }
  }
}
@media all and (max-width: 650px) {
  nav {
    &:first-of-type {
      li {
        &:not(:last-child) {
          display: none;
        }
        &:last-child {
          display: flex;
        }
      }
    }
  }

  @include mixin.hamburguer(block, 3rem);
}
@media all and (max-width: 350px) {
  @include mixin.hamburguer(block, 2.4rem);
}
