.animes {
  display: grid;
  place-items: center;
  grid-template: 1fr / 2fr 8fr;
  height: calc(100vh - 185px);
  background-color: black;
  color: white;
  .conteudo {
    display: grid;
    place-items: center;
  }
}
