.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.card {
  max-width: 250px;
  display: grid;
  place-items: start;
  margin: 0 20px 50px;
  text-align: center;
}
.card img {
  max-width: 250px;
}
.card img,
.card details {
  background-color: white;
  color: black;
  padding: 10px;
}
.card summary {
  cursor: pointer;
}
.card h3 {
  font-size: 1rem;
}
.card p {
  margin-top: 10px;
  text-align: justify;
}
.card svg {
  font-size: 1.2rem;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.card details:not([open]) {
  align-items: flex-start;
}
@media all and (max-width: 880px) {
  .card img,
  .card {
    max-width: 200px;
  }
}
@media all and (max-width: 560px) {
  .card details p {
    font-size: 0.85rem;
  }
}
