.cartoes {
  display: flex;
  flex-wrap: wrap;
  margin: auto !important;
  justify-content: center;
}
.cartao {
  max-width: 250px;
  display: grid;
  place-items: start;
  margin: 0 20px 50px !important;
  text-align: center;
}
.cartao img {
  max-width: 250px;
}
.cartao img,
.cartao details {
  background-color: white;
  color: black;
  padding: 10px !important;
}
.cartao summary {
  cursor: pointer;
}
.cartao h3 {
  font-size: 1rem;
}
.cartao p {
  margin-top: 10px !important;
  text-align: justify;
}
.cartao svg {
  font-size: 1.2rem;
  margin-right: 5px !important;
}
.cartao details:not([open]) {
  align-items: flex-start;
}
@media all and (max-width: 880px) {
  .cartao img,
  .cartao {
    max-width: 200px;
  }
}
@media all and (max-width: 560px) {
  .cartao details p {
    font-size: 0.85rem;
  }
}
