.home {
  padding-bottom: 100px !important;
  background-color: black;
  color: white;
}
.home h1 {
  padding: 100px 0 !important;
  text-align: center;
  font-family: "Monoton", cursive;
  word-spacing: 10px;
  letter-spacing: 2px;
}
@media all and (max-width: 800px) {
  .home h1 {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 600px) {
  .home h1 {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 450px) {
  .home h1 {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 350px) {
  .home h1 {
    font-size: 0.8rem;
  }
}
