aside {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  border-bottom: 1px black solid;
  text-align: center;
  min-width: 80px;
}
aside h3 {
  padding: 15px 0 !important;
  width: 60%;
  border-bottom: 1px black solid;
  margin: auto !important;
}
aside ul {
  padding: 0 !important;
}
aside li {
  
  transition: 400ms;
}
aside a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  padding: 20px 0 !important;
}
aside li:hover {
  background-color: rgb(100, 100, 100);
}
aside li:hover a {
  color: white;
}
