.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.card {
  max-width: 250px;
  display: grid;
  place-items: center;
  margin: 0 20px 50px;
  text-align: center;
}
.card img {
  width: 250px;
}
.card img,
.card details {
  background-color: white;
  color: black;
  padding: 10px;
}
.card details summary {
  cursor: pointer;
}
.card details p:last-child {
  margin-top: 10px;
}
.card details p svg {
  font-size: 1.2rem;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
