.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.card {
  max-width: 250px;
  background-color: white;
  color: black;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0 20px 50px;
  padding: 20px;
  border-radius: 10px;
}
.card img {
  width: 200px;
}
.card details summary {
  margin-top: 20px;
  cursor: pointer;
}
.card details summary svg {
  margin-right: 5px;
}
.card details p {
  margin-top: 20px;
}
