footer {
  padding: 30px 0 !important;
  background-color: white;
  color: black;
  display: grid;
  place-items: center;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px 20px !important;
  border-bottom: 1px black solid;
}
footer li {
  margin: 10px auto !important;
  transition: 0.5s;
}
footer li:hover {
  transform: scale(1.1);
}
footer a {
  color: black;
}
footer svg {
  margin: 0 5px 0 20px !important;
  font-size: 1.2rem;
}
footer p {
  padding-top: 30px !important;
  font-weight: 800;
}
@media all and (max-width: 300px) {
  footer p,
  footer a {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 250px) {
  footer ul{

    padding: 0 !important;

  }
  footer p,
  footer a {
    font-size: 0.7rem;
  }
}
