header {
  display: grid;
  position: sticky;
  top: 0;
  grid-template: 1fr / 0.1fr 1fr;
  background-color: white;
  z-index: 1;
}
header .logo {
  display: grid;
  place-items: center;
}
header .logo img {
  width: 80px;
  height: 80px;
  transition: 0.5s;
}
header nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  color: black;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.1rem;
}
header nav a:hover {
  background: black;
  color: white;
  text-decoration: underline;
  letter-spacing: 3px;
}
header nav li:last-child {
  display: none;
}
header nav svg {
  font-size: 40px;
}

.hamburguerOpen {
  height: 100vh;
  display: flex;
  animation: openHamburguer 300ms ease-in-out;
}
.hamburguerOpen .logo {
  display: none;
}
.hamburguerOpen nav ul {
  display: flex;
  flex-direction: column;
  height: auto;
}
.hamburguerOpen nav ul li {
  display: flex !important;
  order: 2;
}
.hamburguerOpen nav ul li:hover {
  letter-spacing: 0;
}
.hamburguerOpen li:last-child {
  order: 1;
  height: 80px;
}
.hamburguerOpen ul li a {
  font-size: 3rem;
  padding: 5vh 0;
  width: 100vw;
  justify-content: center;
}
@keyframes openHamburguer {
  from {
    transform: translateX(110vh);
  }
  top {
    transform: translateX(0vh);
  }
}
@media all and (max-width: 1000px) {
  header nav a {
    padding: 0 50px;
  }
}
@media all and (max-width: 830px) {
  header nav a {
    padding: 0 30px;
  }
}
@media all and (max-width: 650px) {
  header nav li:not(:last-child) {
    display: none;
  }
  header nav li:last-child,
  .cross {
    display: flex;
  }
}
@media all and (max-width: 350px) {
  .hamburguerOpen ul li a {
    font-size: 2rem !important;
  }
}
