header {
  display: grid;
  position: fixed;
  top: 0;
  grid-template: 1fr / 20% 80%;
  background-color: white;
  z-index: 2;
  width: 100%;
  border-bottom: 1px black solid;
}
.logo {
  display: grid;
  place-items: center;
}
.logo img {
  max-width: 80px;
}
header ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.3rem;
}
header nav:first-of-type a:hover {
  background: black;
  color: white;
  text-decoration: underline;
  letter-spacing: 3px;
}
header li:last-child {
  display: none;
}
header nav:first-of-type li:not(:last-child) {
  width: 100%;
}
header svg {
  font-size: 40px;
}
.hamburguerMenu {
  width: 100%;
  height: calc(100vh - env(safe-area-inset-bottom));
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110vh);
}
.hamburguerMenu ul {
  display: flex;
  flex-direction: column;
}
.hamburguerMenu li {
  order: 2;
  height: 100%;
}
.hamburguerMenu a {
  font-size: 3rem;
  width: 100vw;
  justify-content: center;
}
.hamburguerMenu li:last-child {
  order: 1;
  display: flex;
}
.hamburguerMenu svg {
  color: rgb(220, 0, 0);
}
.hamburguerOpen .hamburguerMenu {
  animation: open 0.2s linear forwards;
}
.hamburguerClose .hamburguerMenu {
  animation: close 0.2s linear forwards;
}
@keyframes open {
  from {
    transform: translateY(-110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110vh);
  }
}
@media all and (max-width: 1000px) {
  header nav a {
    padding: 0 40px !important;
  }
}
@media all and (max-width: 830px) {
  header nav a {
    padding: 0 20px !important;
  }
}
@media all and (max-width: 650px) {
  header nav:first-of-type li:not(:last-child) {
    display: none;
  }
  header li:last-child {
    display: flex;
  }
}
@media all and (max-width: 350px) {
  .hamburguerMenu a {
    font-size: 2.4rem;
  }
}
