.slide {
  margin-top: 80px;
}
.slide img {
  height: calc(100vh - 80px);
  object-fit: cover;
  object-position: center;
}
.slide span {
  background-color: black;
  color: white;
  padding: 20px !important;
  border-radius: 50%;
}
.slide h3,
.slide p {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}
.slide p {
  margin-bottom: 50px;
}
.slide .carousel-indicators {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.slide button {
  height: 10px !important;
}

@media all and (max-width: 650px) {
  .slide .carousel-control-prev,
  .slide .carousel-control-next {
    visibility: hidden;
  }
}
