* {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
  list-style-type: none !important;
  text-decoration: none !important;
}
body {
  background-color: black !important;
  color: white !important;
  margin-top: 80px !important;
}
img {
  display: flex !important;
}